<h1>Game History</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Id</th>
    <th colspan="2"></th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.id %></td>
      <td><%= link_to 'Show', game_path(game) %> | </td>
      <td><%= link_to 'Edit', edit_game_path(game) %> | </td>
      <td><%= link_to 'Delete', game_path(game),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>